**/.venv/node_modules/

.venv/
venv/
__pycache__/
*.pyc

*.env

# Ignore node modules
*/node_modules/
.env.docker
.venv/

# Ignore local properties files with credentials
BE/BookStorage/src/main/resources/application.properties
BE_py/book-platform/*/requirements.txt